@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    @apply bg-neutral-950
  }

  .main{
    @apply px-3 gap-8 py-7 mx-auto self-stretch sm:px-[40px] sm:py-8 xl:w-[1200px]
  }

  div{
    @apply box-border
  }

  h1{
    @apply text-7xl font-bold leading-tight m-0
  }

  h2{
    @apply text-5xl sm:text-6xl leading-tight font-bold m-0 text-neutral-900 uppercase
  }

  h3{
    @apply text-xl lg:text-2xl font-bold text-neutral-50 m-0
  }

  h4{
    @apply text-lg lg:text-xl font-semibold text-neutral-50 m-0 leading-tight
  }
  
  p{
    @apply text-base leading-relaxed font-normal text-neutral-50
  }

  .btn{
    @apply border-0 flex py-2 px-4 justify-center items-center gap-1 text-neutral-50 font-medium
  }

  .undEff{
    @apply border-neutral-900 w-full absolute opacity-50
  }

  .educard{
    background: radial-gradient(140.12% 140.12% at 1.85% 100.00%, rgba(48, 50, 47, 0.21) 0.08%, rgba(48, 50, 47, 0.80) 100%);
    backdrop-filter: blur(18px);
  }

  .skillscard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    filter: grayscale(100%);
    flex-shrink: 0;
    border: 2px solid #43463F;
    background: radial-gradient(140.12% 140.12% at 1.85% 100.00%, rgba(48, 50, 47, 0.21) 0.08%, rgba(48, 50, 47, 0.80) 100%);
  }

  .footerbg{
    position: absolute;
    background: linear-gradient(0deg, #121311 0%, #121311 100%), url("/images/footer/background.png"), lightgray -0.662px -193px / 100.092% 125.13% no-repeat;
    background-blend-mode: hard-light, normal;
    width: 100%;
    height: 768px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .glisten{
    filter: none;
    transition:ease-in-out;
    background: radial-gradient(140.12% 140.12% at 1.85% 100.00%, rgba(48, 50, 47, 0.80) 0%, rgba(48, 50, 47, 0.80) 100%);
  }

  .glistenEdu{
    transition:ease-in-out;
    background: radial-gradient(117.82% 117.82% at -7.81% -6.96%, rgba(190, 142, 242, 0.03) 0%, rgba(165, 98, 234, 0.24) 100%);
  }

}

